@{
  Layout = "_Layout";
}

@model TreatUrself.Models.Treat

<h1>Add a Flavor</h1>

<h3>@Html.DisplayFor(model => model.Name)  a flavor</h3>

@if (Enumerable.Count(ViewBag.FlavorId) != 0)
{
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.TreatId)

    @Html.Label("Select Flavor")
    <br>
    @Html.DropDownList("FlavorId")
    <br>
    <br>
    <input type="submit" value="Save">
  }
}
else
{
  <h4>This treat is tasteless&mdash;please assign it some flavor!</h4>
  <p>@Html.ActionLink("Add new Flavor", "Create", "Flavors", null, new {@class="button"})</p>
}
<hr />
<p>@Html.ActionLink("Back to treat list", "Index", "Treats", null, new {@class="button"})</p>