@{
  Layout = "_Layout";
}

@model TreatUrself.Models.Treat

<h4>Add a new treat</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.SomeProperty)
    <br>
    @Html.TextBoxFor(model => model.SomeProperty)
    <br>
    <br>
    @Html.Label("Select flavor")
    <br>
    @Html.DropDownList("FlavorId")
    <br>
    <br>
    <input type="submit" value="Add new flavor" class="btn btn-default" />
}
<br>
<p>@Html.ActionLink("Show all flavors", "Index")</p>