@{
  Layout = "_Layout";
}

@model TreatUrself.Models.Treat

<h1>Edit Treat Data</h1>

<h3>@Html.DisplayFor(model => model.Name)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.LabelFor(model => model.Name)
  <br>
  @Html.EditorFor(model => model.Name)

  <br><br>

  @if (Enumerable.Count(ViewBag.FlavorId) != 0)
  {
    @Html.Label("Add a Flavor")
    <br>
    @Html.DropDownList("FlavorId")

    <br><br>
  }
  <input type="submit" value="Update">
}

<br><br>

<p>@Html.ActionLink("Back to Treat List", "Index", "Treats", null, new {@class="button"})</p>