@{
  Layout = "_Layout";
}

@model TreatUrself.Models.Flavor

<h1>Edit Flavor Data</h1>

<h3>@Html.DisplayFor(model => model.Name)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  @Html.LabelFor(model => model.Name)
  <br>
  @Html.EditorFor(model => model.Name)

  <br><br>

  @if (Enumerable.Count(ViewBag.TreatId) != 0)
  {
    @Html.Label("Add a Treat")
    <br>
    @Html.DropDownList("TreatId")

    <br><br>
  }
  <input type="submit" value="Update">
}

<br><br>

<p>@Html.ActionLink("Back to Flavor List", "Index", "Flavors", null, new {@class="button"})</p>